body {
  font-family: "Arial", sans-serif;
  background-color: #0a192f;
  color: #f2f2f2;
  padding: 20px;
}

header {
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #66fcf1;
  margin-bottom: 30px;
  font-size: 42px;
}

main {
  text-align: center;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 18px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.text-box {
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: #1f2833;
}

textarea {
  width: 90%;
  height: 200px;
  resize: none;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #c5c6c7;
  color: #0a192f;
}

.submit-button {
  background-color: #45a29e;
  color: #f2f2f2;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #66fcf1;
}

.submit-button-text {
  color: inherit;
}

footer {
  background-color: #1f2833;
  padding: 20px;
  text-align: center;
}

.social-links a {
  margin: 0 10px;
  color: #45a29e;
  text-decoration: none;
  font-size: 20px;
}

.social-links a:hover {
  text-decoration: underline;
}
